*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  font-size: 1.3rem;
  font-weight: 900;
  color: white;
  background-color: blueviolet;
}
/* .main{
  border: 10px solid rgb(19, 94, 41);
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */
.container{
  border: 1px solid black;
  padding: 10px;
  border-radius: 10%;
  height: 25vh;
  width: 30%;
}
label{
  display: block;
  text-align: center;
  margin: 8px 10px;
}
button{
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: aqua;
}
input{
  display: block;
  margin: auto;
  width: 60%;
}