*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  margin: 10px;
  font-size: xx-large;
}