*{
  margin: 0;
  padding: 0;
}
.App{
  border: 5px solid black;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  border: 5px solid black;
  height: 50%;
  width: 60%;
  padding-top: 50px;
}
h1{
  margin-top: 5%;
  text-align: center;
  font-size: 3rem;
}
button{
  display: block;
  margin: 2% auto;
  padding: 10px;
}